section {
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    max-width: 768px;
    background-color: rgb(248 250 252);
    padding: 2rem 5rem;
    .profile-pic {
      min-width: 200px;
    }
    .profile-name {
      font-size: 2rem;
    }
  }
}
