@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: #321f34;
}

img {
  max-width: 70px;
}

figure {
  width: 100px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: small;
}

h1 {
  margin-bottom: 2em;
}
