@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  box-sizing: border-box;
}

main {
  background-color: #321f34;
  display: flex;
  flex-direction: column;
}

.routes {
  height: 100%;
}

.carousel .overlay {
  width: 80%;
  height: 60%;
  overflow: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  text-align: left;
  background: rgba(50, 31, 52, 0.6);
  border-radius: 10px;
  color: white;
  display: none;
  padding: 5px;
}

.carousel:hover .overlay {
  display: block;
}
.carousel .thumb {
  margin: 0 50px;
  height: 100px;
}
.carousel .thumbs-wrapper {
  position: absolute;
  margin-top: -200px;
}

.carousel img {
  height: 10em;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (min-width: 400px) {
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 220, 165, 0.989);
    border-radius: 20px;
  }

  .carousel img {
    height: 22em;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

figure {
  width: 200px;
}

h2 {
  font-size: small;
}

.text-overlay {
  position: absolute;
  text-wrap: balance;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.buttonPrevNext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.buttonPrev {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonNext {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonNext:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.buttonPrev:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

h1 {
  margin-bottom: 2em;
}

@media screen and (min-width: 1160px) {
  .carousel-root {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0.25fr) repeat(1, 0.5fr) repeat(1, 0.25fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 3;
  }
  .div2 {
    grid-area: 2 / 3 / 2 / 6;
  }
  .div3 {
    grid-area: 2 / 3 / 3 / 6;
  }
  .div4 {
    grid-area: 3 / 3 / 4 / 6;
  }

  .div5 {
    grid-area: 5 / 1 / 6 / 6;
  }

  .imgMovieDetail {
    height: 500px;
  }
}
